# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=4096"]
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^\.github\/scripts\/get-jwt\.(sh|ps1)$
      - id: end-of-file-fixer
        files: ^.+\.(ps1|py|md|txt)$
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: sort-simple-yaml