name: Update Test Branch

on:
  issue_comment:
    types:
      created

env:
  TEST_BRANCH: test/main
  FEATURE_TEST_PREFIX: test/
  NOTICE_COMMENT_TAG: <!-- UpdateTestBranch/NOTICE -->
  COMMIT_COMMENT_TAG: <!-- UpdateTestBranch/COMMIT -->
  BOT_LABEL: Automated
  DISABLE_COMMENTS: false
  FEATURE_TEST_BRANCH: 'test/feature-branch'
  SKIP_ALL: false
  FEATURE_COMMITS: ''
  PICKED_COMMITS: ''
  ADDED_COMMITS: ''
  MISSING_COMMITS: ''
  TEST_PR_URL: ''
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  update_test_branch:
    name: Update Test Branch
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '!update-test')
    steps:
      - name: Set up Git
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Checkout repository
        if: ${{ env.SKIP_ALL == 'false' }}
        uses: actions/checkout@v4

      - name: 'Setup jq'
        if: ${{ env.SKIP_ALL == 'false' }}
        uses: dcarbone/install-jq-action@v2

      - name: Get PR object
        id: pull_request
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          pr_info=$(gh pr view ${{ github.event.issue.number }} --json headRefName,baseRefName)

          printf "::debug::PR info: %q\n" "$pr_info"

          if [ -z "$pr_info" ]; then
            echo "::error::Failed to get PR information. Please try again."
            exit 1
          fi

          head_ref=$(echo "$pr_info" | jq -r '.headRefName')
          base_ref=$(echo "$pr_info" | jq -r '.baseRefName')

          echo "Head ref: $head_ref"
          echo "Base ref: $base_ref"

          echo "HEAD_REF=$head_ref" >> $GITHUB_OUTPUT
          echo "BASE_REF=$base_ref" >> $GITHUB_OUTPUT

      - name: Set environment variables
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          echo "TEST_BRANCH=${{ vars.UPDATETESTBRANCH_TEST_BRANCH || env.TEST_BRANCH }}" >> $GITHUB_ENV
          echo "FEATURE_TEST_PREFIX=${{ vars.UPDATETESTBRANCH_FEATURE_TEST_PREFIX || env.FEATURE_TEST_PREFIX }}"
          echo "FEATURE_TEST_BRANCH=${{ env.FEATURE_TEST_PREFIX }}${{ steps.pull_request.outputs.HEAD_REF }}" >> $GITHUB_ENV
          echo "TRIGGER_LABEL=${{ vars.UPDATETESTBRANCH_TRIGGER_LABEL || env.TRIGGER_LABEL }}" >> $GITHUB_ENV
          echo "NOTICE_COMMENT_TAG=${{ vars.UPDATETESTBRANCH_NOTICE_COMMENT_TAG || env.NOTICE_COMMENT_TAG }}" >> $GITHUB_ENV
          echo "COMMIT_COMMENT_TAG=${{ vars.UPDATETESTBRANCH_COMMIT_COMMENT_TAG || env.COMMIT_COMMENT_TAG }}" >> $GITHUB_ENV
          echo "BOT_LABEL=${{ vars.UPDATETESTBRANCH_BOT_LABEL || env.BOT_LABEL }}" >> $GITHUB_ENV
          echo "DISABLE_COMMENTS=${{ vars.UPDATETESTBRANCH_DISABLE_COMMENTS || env.DISABLE_COMMENTS }}" >> $GITHUB_ENV

      - name: Check PR settings
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          if [ "${{ steps.pull_request.outputs.HEAD_REF }}" == "${{ env.TEST_BRANCH }}" ]; then
            echo "::error::You cannot update the test branch `${{ env.TEST_BRANCH }}` with itself."
            exit 1
          fi
          if [ "${{ steps.pull_request.outputs.BASE_REF }}" == ${{ env.TEST_BRANCH }} ]; then
            echo "::error::The pull request ${{ github.event.issue.pull_request.html_url }} is already targeting the test branch `${{ env.TEST_BRANCH }}`."
            exit 1
          fi

      - name: Check if ${{ env.TEST_BRANCH }} exists
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          if [ -z "$(git ls-remote --heads origin ${{ env.TEST_BRANCH }})" ]; then
            echo "::error::Branch ${{ env.TEST_BRANCH }} does not exist. Please create the branch or define a custom name by editing the repository variable 'UPDATETESTBRANCH_TEST_BRANCH' and try again."
            exit 1
          fi

      - name: Get list of feature commits
        id: get_feature_commits
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          git fetch origin ${{ steps.pull_request.outputs.BASE_REF }}
          git fetch origin ${{ steps.pull_request.outputs.HEAD_REF }}
          feature_commits=$(git log --reverse --no-merges --pretty=format:%h origin/${{ steps.pull_request.outputs.BASE_REF }}..origin/${{ steps.pull_request.outputs.HEAD_REF }})

          if [ -z "$feature_commits" ]; then
            echo "SKIP_ALL=true" >> $GITHUB_ENV
            echo "::notice::No new commits found. Skipping update."
            exit 0
          fi

          feature_commits_pretty=$(git log --reverse --no-merges --pretty=format:"- %s (%H)" origin/${{ steps.pull_request.outputs.BASE_REF }}..origin/${{ steps.pull_request.outputs.HEAD_REF }})

          echo -e 'Feature commits:\n'"$feature_commits_pretty"
          for commit in $feature_commits; do
            echo "::debug::$commit"
          done

          {
            echo "FEATURE_COMMITS<<EOF"
            echo "$feature_commits"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: Check if ${{ env.FEATURE_TEST_BRANCH }} exists
        id: check_feat_test
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          if [ -z "$(git ls-remote --heads origin ${{ env.FEATURE_TEST_BRANCH }})" ]; then
            echo "No branch ${{ env.FEATURE_TEST_BRANCH }} found."
            echo "SKIP_CHERRY_LIST=true" >> $GITHUB_OUTPUT
          else
            echo "Branch ${{ env.FEATURE_TEST_BRANCH }} found."
            echo "SKIP_CHERRY_LIST=false" >> $GITHUB_OUTPUT
          fi

      - name: Get list of already cherry-picked commits
        id: get_cherry_picked_commits
        if: ${{ env.SKIP_ALL == 'false' && steps.check_feat_test.outputs.SKIP_CHERRY_LIST == 'false' }}
        run: |
          git fetch origin ${{ env.TEST_BRANCH }}
          git fetch origin ${{ env.FEATURE_TEST_BRANCH }}
          feature_test_bodies=$(git log --reverse --pretty=format:%b origin/${{ env.TEST_BRANCH }}..origin/${{ env.FEATURE_TEST_BRANCH }})

          if [ -z "$feature_test_bodies" ]; then
            echo "::notice::No new commits in ${{ env.FEATURE_TEST_BRANCH }} found."
            exit 0
          fi

          picked_commits=()
          for msg in $feature_test_bodies; do
            echo "::debug::Full message: $msg"
            last_line=$(echo "$msg" | tail -n 1)
            echo "::debug::Last line: $last_line"
            if [[ $last_line != CP:* ]]; then
              continue
            fi

            commit=${last_line#CP:}
            echo "::debug::Commit: $commit"
            if [[ $(git rev-parse --verify "$commit" 2>/dev/null) ]]; then
              commit=$($commit:0:7)
              picked_commits+=($commit)
            fi
          done

          if [ -z "$picked_commits" ]; then
            echo '::notice::No cherry-picked commits in "${{ env.FEATURE_TEST_BRANCH }}" found.'
            exit 0
          fi

          echo "Cherry-picked commits:"

          for commit in $picked_commits; do
            commit_message=$(git log --format=%s -n 1 $commit)
            echo "$(git log --pretty=format:"- %s ($H)" -n 1 $commit)"
            echo "::debug::$commit"
          done

          {
            echo "PICKED_COMMITS<<EOF"
            echo "$picked_commits"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: Get list of already added commits from PR comments
        id: get_added_commits
        if: ${{ env.SKIP_ALL == 'false' }}
        uses: actions/github-script@v7
        with:
          script: |
            const comments = await github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            })
            if (comments.data.length === 0) {
              process.stdout.write('No comments with the tag "${{ env.COMMIT_COMMENT_TAG }}" found in ' + context.issue.html_url + '\n')
              return;
            }
            process.stdout.write('Already added commits:\n')
            const addedCommits = comments.data
              .filter(comment => comment.body.startsWith('${{ env.COMMIT_COMMENT_TAG }}'))
              .flatMap(comment => {
                const lines = comment.body.split('\n');
                const commitLines = lines.filter(line => line.startsWith('- '));
                process.stdout.write(`${JSON.stringify(commitLines)}\n`);
                return commitLines.map(line => line.slice(2));
              });
            core.setOutput('ADDED_COMMITS', JSON.stringify(addedCommits));

      - name: Determine commits to cherry-pick
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          feature_commits=(${{ env.FEATURE_COMMITS }})
          picked_commits=(${{ env.PICKED_COMMITS }})
          added_commits=(${{ env.ADDED_COMMITS }})

          echo -e 'Feature commits: '"${feature_commits[*]}"
          if [ -n "$picked_commits" ]; then
            echo -e 'Picked commits: '"${picked_commits[*]}"
          fi
          if [ -n "$added_commits" ]; then
            echo -e 'Added commits: '"${added_commits[*]}"
          fi

          new_commits=()
          if [ -z "$picked_commits" ] && [ -z "$added_commits" ]; then
            new_commits=("${feature_commits[@]}")
          else
            for commit in "${feature_commits[@]}"; do
              if [[ ! " ${picked_commits[@]} " =~ " $commit " ]] && [[ ! " ${added_commits[@]} " =~ " $commit " ]]; then
                new_commits+=($commit)
              fi
            done
          fi
          if [ -z "$new_commits" ]; then
            echo "SKIP_ALL=true" >> $GITHUB_ENV
            echo "::notice::No new commits to cherry-pick found. Skipping update."
          else
            echo 'New commits: '"${new_commits[*]}"
          fi

          {
            echo "FEATURE_COMMITS<<EOF"
            echo "${new_commits[*]}"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: Create/Checkout ${{ env.FEATURE_TEST_BRANCH }}
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          git fetch origin ${{ env.TEST_BRANCH }}
          if [ -z "$(git ls-remote --heads origin ${{ env.FEATURE_TEST_BRANCH }})" ]; then
            git checkout ${{ env.TEST_BRANCH }}
            git checkout -b ${{ env.FEATURE_TEST_BRANCH }}
            git push origin ${{ env.FEATURE_TEST_BRANCH }}
          else
            git fetch origin ${{ env.FEATURE_TEST_BRANCH }}
            git checkout ${{ env.FEATURE_TEST_BRANCH }}
          fi

      - name: Cherry-pick new commits
        continue-on-error: true
        id: cherry_pick
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          echo "Cherry-picking the following commits:"
          echo "${{ env.FEATURE_COMMITS }}"
          successful_commits=()

          for commit in ${{ env.FEATURE_COMMITS }}; do
            message=$(git log --format=%s -n 1 $commit)
            message=$message'

            CP:'$commit
            git cherry-pick $commit 1>/dev/null || true
            if [ -n "$(git status --porcelain | grep '^U')" ]; then
              echo '::error::Cherry-pick failed. Please see ${{ github.event.issue.pull_request.html_url }} for more details.'
              exit 1
            fi
            git commit --amend -m "$message"
            successful_commits+=($commit)
          done
          echo "Cherry-pick successful."

          {
            echo "PICKED_COMMITS<<EOF"
            echo "${successful_commits[*]}"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: "On success: Commit & push cherry-picked changes"
        if: ${{ env.SKIP_ALL == 'false' && steps.cherry_pick.outcome == 'success' }}
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git commit
          fi
          if [ -n "$(git log origin/${{ env.FEATURE_TEST_BRANCH }}..${{ env.FEATURE_TEST_BRANCH }})" ]; then
            git push origin ${{ env.FEATURE_TEST_BRANCH }}
          else
            echo "No new commits to push."
          fi

      - name: "On failure: Determine missing commits"
        if: ${{ env.SKIP_ALL == 'false' && steps.cherry_pick.outcome == 'failure' }}
        run: |
          feature_commits=(${{ env.FEATURE_COMMITS }})
          picked_commits=(${{ env.PICKED_COMMITS }})

          echo -e 'Feature commits: '"${feature_commits[*]}"
          if [ -n "$picked_commits" ]; then
            echo -e 'Picked commits: '"${picked_commits[*]}"
          fi

          missing_commits=()
          for commit in "${feature_commits[@]}"; do
            if [[ ! " ${picked_commits[@]} " =~ " $commit " ]] ; then
              missing_commits+=($commit)
            fi
          done
          echo 'Missing commits: '"${missing_commits[*]}"

          {
            echo "MISSING_COMMITS<<EOF"
            echo "${missing_commits[*]}"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: "On failure: Abort cherry-pick & push changes"
        if: ${{ env.SKIP_ALL == 'false' && steps.cherry_pick.outcome == 'failure' }}
        run: |
          git reset --hard
          if [ -z "$(git log origin/${{ env.FEATURE_TEST_BRANCH }}..${{ env.FEATURE_TEST_BRANCH }})" ]; then
            echo "Pushing empty commit to ${{ env.FEATURE_TEST_BRANCH }} to create PR."
            git commit --allow-empty -m 'Cherry-pick of `${{ steps.pull_request.outputs.HEAD_REF }}` failed.
            Manual resolution required.'
          fi
          git push origin ${{ env.FEATURE_TEST_BRANCH }}

      - name: Ensure bot label exists
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          if [ -z "$(gh label list --search "${{ env.BOT_LABEL }}" --limit 1)" ]; then
            gh label create ${{ env.BOT_LABEL }} --color CCCCCC --description "Automated pull requests"
            echo "::notice::Label ${{ env.BOT_LABEL }} added to repository."
          fi

      - name: Create/Update pull request
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          feature_title=$(printf '%s' ${{ github.event.issue.title }} | sed 's/"/\\"/g')
          body='This automated pull request adds the cherry-picked changes from `${{ steps.pull_request.outputs.HEAD_REF }}` to `${{ env.TEST_BRANCH }}`.
          See ${{ github.event.issue.pull_request.html_url }} for more details.'
          if [ "$(gh pr list --base ${{ env.TEST_BRANCH }} --head ${{ env.FEATURE_TEST_BRANCH }} --state open | wc -l)" == 0 ]; then
            TEST_PR_URL=$(gh pr create \
              --base ${{ env.TEST_BRANCH }} \
              --head ${{ env.FEATURE_TEST_BRANCH }} \
              --title "$feature_title - Test" \
              --label ${{ env.BOT_LABEL }} \
              --assignee ${{ github.actor }} \
              --body "$body")
            echo "::notice::$TEST_PR_URL created."
          else
            TEST_PR_URL=$(gh pr edit ${{ env.FEATURE_TEST_BRANCH }} \
              --add-assignee ${{ github.event.issue.assignees.login }})
            echo "::notice::$TEST_PR_URL updated."
          fi
          echo "TEST_PR_URL=$TEST_PR_URL" >> $GITHUB_ENV

      - name: Set pull request status
        if: ${{ env.SKIP_ALL == 'false' }}
        run: |
          if [ "${{ steps.cherry_pick.outcome }}" == "success" ]; then
            gh pr ready ${{ env.FEATURE_TEST_BRANCH }}
          else
            gh pr ready --undo ${{ env.FEATURE_TEST_BRANCH }}
          fi

      - name: Clean up comments
        if: ${{ env.SKIP_ALL == 'false' }}
        uses: actions/github-script@v7
        with:
          script: |
            const urlSubstrings = "${{ env.TEST_PR_URL }}".split('/')
            const newPrNumber = urlSubstrings[urlSubstrings.length - 1]
            const oldPrComments = github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            })
            const newPrComments = github.rest.issues.listComments({
              issue_number: newPrNumber,
              owner: context.repo.owner,
              repo: context.repo.repo
            })
            const allComments = await Promise.all([oldPrComments, newPrComments])
            allComments.forEach(comments => {
              comments.data.forEach(comment => {
                if (comment.user.login === 'github-actions[bot]' && comment.body.startsWith('${{ env.NOTICE_COMMENT_TAG }}')) {
                  github.rest.issues.deleteComment({
                    comment_id: comment.id,
                    owner: context.repo.owner,
                    repo: context.repo.repo
                  })
                  process.stdout.write(`Deleted comment ${comment.html_url}\n`)
                }
              })
            })

      - name: Comment on the new pull request
        id: comment_on_new_pr
        if: ${{ env.SKIP_ALL == 'false' && steps.cherry_pick.outcome == 'failure' && env.DISABLE_COMMENTS == 'false' }}
        run: |
          failed_commit=$(echo "$MISSING_COMMITS" | head -n 1)
          body='**Automatic ${{ env.TEST_BRANCH }} update failed.**

          To manually resolve the merge conflicts, please follow these steps:

          1) Checkout the latest version of the branch `${{ env.FEATURE_TEST_BRANCH }}` with the following commands:
          ```bash
          git fetch origin ${{ env.FEATURE_TEST_BRANCH }}
          git checkout ${{ env.FEATURE_TEST_BRANCH }}
          git pull origin ${{ env.FEATURE_TEST_BRANCH }}
          git cherry-pick '"$failed_commit"'
          ```
          2) Resolve the merge conflicts and push the changes.
          3) Re-run the workflow by commenting `!update-test-branch` in ${{ github.event.issue.pull_request.html_url }} again.'

          COMMENT_URL=$(gh pr comment ${{ env.TEST_PR_URL }} --body "${{ env.NOTICE_COMMENT_TAG }}
          $body")
          echo $COMMENT_URL
          echo "COMMENT_URL=$COMMENT_URL" >> $GITHUB_OUTPUT

      - name: Comment on the original pull request
        if: ${{ env.SKIP_ALL == 'false' && env.DISABLE_COMMENTS == 'false' }}
        run: |
          if [ "${{ steps.cherry_pick.outcome }}" == "success" ]; then
            body='The cherry-picked changes from `${{ steps.pull_request.outputs.HEAD_REF }}` are ready to be added to the `${{ env.TEST_BRANCH }}` branch.

            A new pull request has been created to test the changes. See ${{ env.TEST_PR_URL }} for more details.'
          else
            body='Unable to cherry-pick the changes from `${{ steps.pull_request.outputs.HEAD_REF }}` to the `${{ env.TEST_BRANCH }}` branch.

            A new pull request has been created to manually resolve the merge conflicts and test the changes. See ${{ steps.comment_on_new_pr.outputs.COMMENT_URL }} for more details.'
          fi
          gh pr comment ${{ github.event.issue.number }} --body '${{ env.NOTICE_COMMENT_TAG }}
          '"$body"
